/* colors:
background #FDF3E7
yellow:
orange: #C63D0F
blue:
grey: #3B3738
red: #F6F6F6

ready/not:   /

*/


body {
  background-image: url("/images/simple_dashed_lite.png");
  background-color: white;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 22px;
  color: #2b2b2b;
}
 

/****** top navigation frame ******/

 .nav-frame {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
//   background-image: url("/images/metallt.png");
//   background-color: #0B0B0A;
   height: 90px;
 } 

.nav-frame .bb-logo {
  margin: 0 0 0 0;
}

.nav-frame .nav-buttons {
  list-style:none;
  font-size: 20px;
  font-weight: bold;
}

.nav-frame .nav-buttons ul {
  width: auto;
  text-align: center;

}

.nav-frame .nav-buttons li {
  display: inline-block;
}

.nav-frame .nav-buttons li a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 5px 5px 5px;
  width: 105px;
  height: 30px;
  background: linear-gradient(to bottom,  
    rgba(255, 173, 51, 1) 0%,
    rgba(255, 153, 0, 1) 65%,
    rgba(178, 107, 0, 1) 100%);
  color: #F0F0F0;
  text-align: center;
  border-radius: 5px;
  border-top: 2px solid #D99633;
  border-right: 2px solid #915700;
  border-bottom: 2px solid #7C4A00;
  border-left: 2px solid #D99633;
  margin: 1px 10px 1px 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-frame .nav-buttons li a:hover {
  color: #000000
}


  /****** page title ******/

.title {
  color: #DE1B1B;
  font-size: 35px;
  text-align: center;
  clear: both;
  margin-top: 100px;
  margin-bottom: 40px;
}
 

  /****** home page ******/

.legend text{
  font-size: 18px;
  font-weight: bold;
}

#chart {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

rect {
  stroke-width: 2;
}

  /****** new bike form ******/

.newForm {
  width: 60%;
  max-width: 700px;
  font-size: 17px;
  margin-right: auto;
  margin-left: auto;
  color: #2b2b2b;
    padding: 20px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px black;
  background-color: white;
}

.newForm input, select {
  width: 98%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px #808080;
}

.newForm 
  input:hover, 
  select:hover, 
  textarea:hover, {
  background: #D3DAC6;
}

.newForm 
  input:focus, 
  select:focus, 
  textarea:focus, {
    background: #D3DAC6;
}

.newForm fieldset {
  width: 98%;
  box-sizing: border-box;
  background-color: white;
}

.newForm fieldset  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.newForm fieldset ul li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 12px;
}

.newForm input[type="radio"] {
  padding: 0;
  height: 20px;
  width: 20px;
  display: table-cell;
  vertical-align: middle;
}

.newForm .newColumn {
  width: 49%;
  float: left;
}

.newForm .newColumn:first-of-type {
  margin-right: 2%;
}

.newForm .newColumn label, fieldset {
  display: block;
  margin-top: 15px;
  margin-bottom: 3px;
}

.newForm .newColumn label:first-child, fieldset:first-child {
  margin-top: 0;
}

.newForm .newColumn fieldset {
  margin-bottom: 30px;
}

.newForm .button {
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.newForm .button button {
  cursor: pointer;
  width: 250px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  background: linear-gradient(to bottom,  
    rgba(222, 27, 27, 1) 0%,
    rgba(178, 22, 22, 1) 65%,
    rgba(142, 18, 18, 1) 100%);
  color: #000000;  
  border-radius: 5px;
  border-top: 2px solid #E54949;
  border-right: 2px solid #E54949;
  border-bottom: 3px solid #7D0F0F;
  border-left: 3px solid #B21616;
}

.newForm .button button:hover {
  color: #F0F0F0;
}

  /*** new bike form validation alerts ***/

form.newForm.ng-submitted .ng-invalid {
/*  background-color: #CCFF99; */
  border: solid 3px red;
}

.light-up {
  border: solid 4px red;
}

  /****** detail list/inventory page ******/

.detail-table{
  margin-top: 10%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px black;
  background-color: white;
}

.detail-table td, .detail-table th {
  border-bottom: 1px solid #BEBEBE;
  padding: 3px 6px 3px 6px;
  font-size: 18px;
  font-family: "ariel" sans-serif;
  color: #2b2b2b;
  text-decoration: none;
}

.detail-table th a {
  color: #FF9900;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 2px #D5D5D5;
}

.detail-table .edit-column {
  width: 90px;
}


  /****** quick inventory page ******/

.quick-table {
  float: left;
  margin-top: 10%;
  width: 37%;
  padding: 10px 20px 20px 20px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px black;
  background-color: white;
}

.quick-table td, .quick-table th   {
  border-bottom: 1px solid #BEBEBE;
  padding: 3px 6px 3px 6px;
  font-size: 18px;
  font-family: "ariel" sans-serif;
  color: #2b2b2b;
  text-decoration: none;
}

.quick-table th a{
  color: #FF9900;
  text-decoration: none;
  color: #FF9900;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 2px #D5D5D5;
}

.table-online{
  margin-right: 2%;
  margin-left: 11%;
}

.table-offline{
  margin-right: 11%;
  margin-left: 2%;
}

.quick-table .edit-column {
  border: 0px;
}

.quick-table .edit-note-field {
  height: 60px;
}

.quick-table .ready-title {
  border-bottom: 0px solid #BEBEBE;
  padding-bottom: 20px;
  font-size: 26px;
  color: #2b2b2b;
  text-shadow: 1px 1px 2px #D5D5D5;
}

  /****** maintenance log page ******/

.maint-table {
  margin-top: 30px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.maint-table .maint-table-bike {
  font-weight: bold;
  border: 1px solid #4B4B4B;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 9px 5px 9px;
  background: white;
}

.maint-table .maint-table-bike td {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 9px 5px 9px;
}

.maint-table .maint-table-bike button {
  font-size: 18px;
  height: 28px;
}

.maint-table .maint-table-input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.maint-table .maint-table-input td {
  padding: 4px 4px 4px 6px;
}

.maint-table .maint-table-input .mt-input-date input {
  display:table-cell; 
  padding-left: 5px;
  height: 24px;
  font-size: 18px;
}

.ui-datepicker { 
  font-size: 10pt !important; 
}

.ui-widget-content .ui-state-highlight {
  background-image: none !important;
  background-color: #FF9900 !important;
  border-color: black !important;
  color: black !important;
}

.maint-table .maint-table-input .mt-input-note {
  display:table-cell; 
  width: 100%;
}

.maint-table .maint-table-input .mt-input-note input {
  display:table-cell; 
  padding-left: 5px;
  width: 100%;
  height: 24px;
  font-size: 18px;
}

.maint-table .maint-table-input .mt-input-button {
  width: 8%;
}

.maint-table .maint-table-input .mt-input-button button {
  font-size: 18px;
  height: 28px;
  width: 44px;
  margin-left: 5px;
}

.maint-table .maint-table-logs {
  border: 1px solid white;
  width: 100%;
}

.maint-table .maint-table-logs td {
  width: 100%;
  background-color: white;
  font-size: 18px;
  color: black;
  padding: 4px 4px 4px 6px;
}
.maint-table .maint-table-logs .mt-logs-date {
  width:20%;
}

 /****** ready buttons ******/

.green-button {  
  background: linear-gradient(to bottom, 
    rgba(0, 140, 0, 1) 0%,
    rgba(0, 109, 0, 1) 65%,
    rgba(0, 80, 0, 1) 100%);
  border-top: 1px solid #33A333;
  border-right: 1px solid #004000;
  border-bottom: 1px solid #003000;
  border-left: 1px solid #33A333;
}

.red-button {  
  background: linear-gradient(to bottom, 
    rgba(222, 27, 27, 1) 0%,
    rgba(178, 22, 22, 1) 65%,
    rgba(142, 18, 18, 1) 100%);
  border-top: 2px solid #E54949;
  border-right: 2px solid #E54949;
  border-bottom: 2px solid #7D0F0F;
  border-left: 2px solid #B21616;
}

.common-button {
  padding: 2px 3px 2px 3px;
  width: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  margin:auto;
  display:block;
}

.common-button:hover{
  color: black;
}

/****** misc ******/ 

.edit-button {
  padding: 2px 4px 4px 2px;
  background: linear-gradient(to bottom,  
    rgba(255, 173, 51, 1) 0%,
    rgba(255, 153, 0, 1) 65%,
    rgba(178, 107, 0, 1) 100%);
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border-top: 1px solid #D99633;
  border-right: 1px solid #915700;
  border-bottom: 1px solid #7C4A00;
  border-left: 1px solid #D99633;
}

.archive-button {
  padding: 2px 2px 4px 2px;
  background: linear-gradient(to bottom,  
    rgba(222, 27, 27, 1) 0%,
    rgba(178, 22, 22, 1) 65%,
    rgba(142, 18, 18, 1) 100%);
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border-top: 2px solid #E54949;
  border-right: 2px solid #E54949;
  border-bottom: 2px solid #7D0F0F;
  border-left: 2px solid #B21616;

}

.edit-button a {
  text-decoration: none;
  color: #000000;
  padding-right: 1px;
  margin-right: 1px;
}

.edit-button:hover {
  color: #F0F0F0;
}

.edit-button a:hover {
  color: #F0F0F0;
}