<div class="about">
<!-- 	<h1>Bike Barn</h1>
		<ul>
			<li> <a href="#about">About</a></li>
			<li> <a href="#history">Revision History</a></li>
			<li> <a href="#contact">Contact</a></li>
		</ul> -->

	<h2 id="about">About Bike Barn</h2>

	<div>Bike Barn is a motorcycle fleet management tool. 
		<ul>You can:
		 	<li>Add and remove motorcycles from your fleet</li>
		 	<li>Edit their details, color, year, etc</li>
		 	<li>Mark them as ready, or not</li>
		 	<li>Sort by any field</li>
		 	<li>Add and edit individual maintenance logs for each bike</li>
		 	<li>See, at a glance, the composition of your fleet by year, type or ready status</li>
	 	</ul>
	</div>

	<h2 id="history">History</h2>

	<ul>
		<li>ver 1.2</li>
			<ul>
				<li>can now edit bike logs</li>
		</ul>
		<li>ver 1.1</li>
			<ul>
				<li>can now edit bike details</li>
				<li>rows hilight on hover</li>
				<li>leading zero added to bike ID to help with sorting</li>
			</ul>
		<li>ver 1.0</li>
			<ul>
				<li>Initial release</li>
			</ul>
	</ul>

	<h2 id="contact">Contact me</h2>

	Bike Barn is a motorcycle fleet management tool built by Melinda Evans at <a href="http://melindacodes.com">melindacodes.com</a>, 2015.</br>

	If you have any questions or requests please give a yell to: <a href="mailto:melinda@melindacodes.com">melinda@melindacodes.com</a>
	</br></br>

	And remember... shiny side up, rubber side down, stay on the black thing between the trees!
	</br></br>

</div>