<h2 class='title'>Detailed List</h2>

<div>
  <table class="detail-table">
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
      <th>SN</th>
    </tr>                             
    <tr ng-repeat="(bikeIndex, bike) in bikes" ng-hide='archived(bike.archive)'> 
      <td button-toggle></td>
      <td>{{bike.ident}}</td>
      <td>{{bike.year}}</td>
      <td>{{bike.make}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
      <td>{{bike.sn}}</td>
      <td class="edit-column">
        <button class='edit-button' type='submit' ng-click="showBikeIndex(bikeIndex)">
          <a ui-sref='maintLog'>View Log</a>
        </button>

        <button class='edit-button' ng-click='cycleArchive(cycleIndex)'>[ X ]</button>
      </td>
    </tr>
  </table>
</div> 