<h2 class='title'>Quick List</h2>

<div>
  <table class="quick-table table-online">
    <caption>Ready</caption>
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
    </tr>
    <tr ng-repeat="(bikeIndex, bike) in bikes" ng-show="bikeReady(bike.ready)">
      <td button-toggle></td>
      <td>{{bike.ident}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
      <td class="edit-column">
        <button class='edit-button' type='submit' ng-click="showBikeIndex(bikeIndex)">
          <a ui-sref='maintLog'>ClickMe!</a>
        </button>
      </td>
    </tr>
  </table>
  <table class="quick-table table-offline">
    <caption>Waiting</caption>
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
    </tr>
    <tr ng-repeat="(bikeIndex, bike) in bikes" ng-hide="bikeReady(bike.ready)">
      <td button-toggle></td>
      <td>{{bike.ident}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
      <td class="edit-column">
        <button class='edit-button' type='submit' ng-click="showBikeIndex(bikeIndex)">
          <a ui-sref='maintLog'>ClickMe!</a>
        </button>
      </td>
    </tr>
  </table>
</div> 















<!-- <h2 class='title'>Quick List</h2>

<div>
  <table class="quick-table table-online">
    <caption>Ready</caption>
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
    </tr>
    <tr ng-repeat="(bikeIndex, bike) in bikes" ng-show="bikeReady(bike.ready)">
      <td button-toggle></td>
      <td>{{bike.ident}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
      <td class="edit-column">
        <button class='edit-button' type='submit' ng-click="showBikeIndex(bikeIndex)">
          <a ui-sref='maintLog'>ClickMe!</a>
        </button>
      </td>
    </tr>
  </table>
  <table class="quick-table table-offline">
    <caption>Waiting</caption>
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
    </tr>
    <tr ng-repeat="(bikeIndex, bike) in bikes" ng-hide="bikeReady(bike.ready)">
      <td button-toggle></td>
      <td>{{bike.ident}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
      <td class="edit-column">
        <button class='edit-button' type='submit' ng-click="showBikeIndex(bikeIndex)">
          <a ui-sref='maintLog'>ClickMe!</a>
        </button>
      </td>
    </tr>
  </table>
</div>  -->