<h2 class='title'>Quick Inventory</h2>

<div class="quick-table">
  <table>
    <tr>
      <th>Ready?</th>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Type</th>
    </tr>                             
    <tr ng-repeat="bike in bikes"> 
      <td>{{bike.ready}}</td>
      <td>{{bike.ident}}</td>
      <td>{{bike.model}}</td>
      <td>{{bike.maincolor}}</td>
      <td>{{bike.maintype}}</td>
     <td class="edit-column">
        <input class="edit-note-field" type='text' ng-show='editMe' ng-model='bike.notes'/>
        <button class='edit-button' type="submit" ng-click='editMe = true; editNotes()' ng-hide='editMe'>Edit Notes</button>  
        <button class='edit-button' type="submit" ng-click='editMe = false' ng-show='editMe'>Save Notes</button>
    </tr>
  </table>
</div> 